
# used in front to generate js and css files
node_modules

# auto generated css files
/shuttleofx_client/static_dist
/shuttleofx_client/static

# temporary upload directory
upload

*.pyc
*.conf
*.cfg
*.json

