client/node_modules/
node_modules/
client/static/
static/
client/upload/
upload/
client/*.pyc
*.pyc
client/configuration.conf
server/ofxPlugins/configuration.conf
server/plugins.json
server/plugin.json

