/*----------------------------------------------------------------
	Home
------------------------------------------------------------------
*/

.headerImg{
    position : fixed;
    margin-top:10px;
}

#containerHome{
    position: relative;
    min-height: 100%;
    height: 1px;
    background-color: white;
    header{
        height : 312px;
    }
    h1, small {
        margin-left : 220px;
        margin-top : 50px;
    }
    small {
        font-size: 20px;
    }
}

#containerHome .main{
        background-color: white!important;
    }