#form-wiki {
    padding-left: 2em;
    padding-right: 2em;
}
    .center {
        text-align: center;
    }
#out{
    img{
        display: inline-block;
    }
}
.edition-infos {
    margin-top : 3em;
    border-top: 1px solid #ccc;
}
    .user {
        font-weight: bold;
    }
    .date {
        font-weight: normal;
    }
a.white {
    color: white !important;
}
.logo-md {
    width: 30px;
    height: 30px;
}
.logo-md path {
    fill: #fff;
}
.user-actions div{
    float : left;
}
.markdown-help{
    font-size: 12px;
}

#container-edit-documentation{
    margin : 2em;
}

#container-edit-documentation h3:first-child, .edit-out h3:first-child{
    text-align: center;
    color : @ofxColor;
    padding-bottom : 1em;
}
