/*----------------------------------------------------------------
    Home
----------------------------------------------------------------*/


#main-home{
	margin-bottom: 0;
	padding-bottom: 0;

	.navbar-nav > li > a{
    	padding-top: 20px;
		font-family: 'Roboto-Light';
    	color: #fff;
    	&:hover{
    		opacity: .7;
    	}
    }
    .navbar-nav > li{
    	background: none;
    	&.active{
    		text-decoration: underline;
    	}
    	&:hover{
    		background: none;
    	}
    	&:last-child{
    		// border-left:1px solid @ofxTxt;
    		padding-left: 5px;
    		&::before{
    			content: "";
    			height: 20px;
    			width: 2px;
    			background: #fff;
    			opacity: .8;
    			position: absolute;
    			margin-top: 30px;
    			margin-left: -2px;
    		}
    	}

    }
	header{
	    width: 100%; 
	    height: 80px;
	    // z-index: 2000;
	    // position: fixed;
	    position: relative;
	    background: @ofxColor;
	    margin-top:0;
	    border-left: none;
	    &#header-index{
	    	transition:all 500ms;
	    	background: @ofxColor;
	    }
	    .navbar{
	        // background: #EEEEEE!important;
	        // background: rgba(0, 0, 0, 0.05)!important;
	        background-image:none;
	        margin-bottom: 0px;
	        padding-bottom: 0;
	        padding-right: 0;
	        height: 100%;
	        .navbar-right{
	            height: 100%;
	            margin: 0;
	        }
	    }
	    form#searchForm{
	        margin-bottom: 0;
	        float: right;
	        height: 100%;
	        transition:all 300ms;
	        position:relative;
	        padding-left: 30px;
	        padding-right: 22px;
	        &::before{
	            display:block;
	            content:"";
	            width:0px;
	            height:100%;
	            position:absolute;
	            top:0px;
	            right:0px;
	            z-index:1;
	            transition:all 300ms;
	            background:rgba(255, 255, 255, 0);
	        }
	        input::-webkit-input-placeholder {
	            color: #fff;
	            transition:all 300ms;
	        }
	        input::-moz-placeholder {
	           color: #fff;
	           transition:all 300ms;
	        }
	        input::-moz-placeholder { 
	           color: #fff;
	           transition:all 300ms;
	        }
	        input::-ms-input-placeholder { 
	            color: #fff;
	            transition:all 300ms;
	        }
	        input, button{
	            position:relative;
	            line-height: 40px;
	            z-index:2;
	            border:0px;
	            -webkit-appearance:none;
	            background:transparent;
	            color: #fff;
	        }
	        button{
	            color: #fff;
	        }
	        input[type="text"]{
	            color: #fff;
	            margin-bottom: 20px;
	            margin-top: 17px;
	            padding-bottom: 0px;
	            border-bottom:1px solid #fff;
	            width:200px;
	            display:inline-block;
	            transition:all 300ms;
	        }
	        input[type="submit"]{
	           font-size:20px;
	           cursor:pointer;
	        }

	        &.active{
	            &::before{ 
	                width:100%;
	            }
	            input::-webkit-input-placeholder {
	                color: #fff;
	                transition:all 300ms;
	            }
	            input::-moz-placeholder {
	               color: #fff;
	               transition:all 300ms;
	            }
	            input::-moz-placeholder { 
	               color: #fff;
	               transition:all 300ms;
	            }
	            input::-ms-input-placeholder { 
	                color: #fff;
	                transition:all 300ms;
	            }
	            input{ 
	                color: #fff;
	                border-bottom:1px solid #fff;
	            }
	            button{ 
	                color: #fff;
	                border: none;
	            }
	        }
	    }
	}
	section{
		&#intro{
			background: @ofxColor;
			// background: @bkGrey;
			//padding-top: 2em;
			//padding-bottom: 6em;
			//min-height: 30em;
			font-family: 'Roboto-Light';
			display: flex;
			.mainLogo{
				text-align: center;
				margin: 20px auto;
				img{
					max-width: 170px;
					position: relative;
					display: inline-block;
				}
				a{
					margin-top: 1.5em;
					display: inline-block;
					font-family: 'Roboto-Light';
					font-weight: 200;
					font-size: 3em !important;
					margin-left: 30px;
					color: #fff;
					font-size: 90%;
				}
			}

			.title-home{
				margin: 0px auto;
				left: 50%;
				transform: translate(-50%);
				width: 100%;
				height: auto;
				position: relative;
				text-align: center;
				h1{
					text-align: center;
					font-family: 'Roboto-Light';
					color: #fff;
				}
				h3{
					align-items:center;
					left:50%;
					font-family: 'Roboto-Light';
					color: #fff;
					text-align: center;
					span{
					}

				}
				a{
					margin: 3em;
					padding: 1em 2em;
					color: #fff;
					font-size: 110%;
					.fa{
						padding-left: 12px;
					}
				}
			}
			
		}
		&#hello{
			padding-top: 4em;
			padding-bottom: 0.5em;
			background: #fff;
			h1{
				font-family: 'Roboto-Light';
				color: @grey;
				font-weight: 200;
				margin-bottom: 1.5em;
				font-size: 3em;
				text-transform: uppercase;
				margin-top: 10px;
				line-height: 1;
				span{
					display: block;
					font-size: 98%;
				}
			}
			p{
			}
		}
		&#features{
			padding-top: 3em;
			padding-bottom: 3em;
			h1{
				font-family: 'Roboto-Light';
				color: @grey;
				font-weight: 200;
				margin-bottom: 1.5em;
				font-size: 2em;
				text-align: center;
				text-transform: uppercase;
				&::before{
					position: absolute;
					content: "";
					left: 50%;
					transform: translate(-50%);
					margin-top: 55px;
					width: 100px;
					height: 3px;
					background-color: @ofxColor;
				}
			}
			.illu-feature{
				width: 100%;
				height: 560px;
				margin-top: 1em;
				background: url(../images/features/documentation.png);
				background-repeat: no-repeat;
				background-size: cover;
				transition: all 0.5s;
			}
			.feature{
				transition: all 0.3s;
				margin-top:1em;
				margin-bottom: 2em;
				// background: rgba(0, 0, 0, 0.2);
				opacity: 0.5;
				cursor: pointer;
				h3{
					font-family: "Roboto";
					font-weight: bold;
					color: @grey;
					color: #2e3234;
				}
				p{
					// font-family: 'Roboto-Light';
				}
				&:hover{
					opacity: 1;
					transition: all 0.3s;
				}
				&.active{
					opacity: 1;
					h3{
						color: @ofxColor;
					}
					.line{
						display: block;
					}
				}
				.line{
					display: none;
					position: absolute;
					margin-left: -180px;
					margin-top: 2px;
					width: 30px;
					height: 30px;
					border: 3px solid @ofxColor;
					background: #fff;
					border-radius: 50%;
					&::before{
						content: "";
						width: 136px;
						height: 2px;
						position: absolute;
						border: 2px dashed #ccc;
						margin-left: 27px;
						margin-top: 10px;
					}
				}
			}
		}

		&#targets{
			padding-top: 3em;
			padding-bottom: 1em;
			background: #fff;
			h1{
				font-family: 'Roboto-Light';
				color: @grey;
				font-weight: 200;
				margin-bottom: 3em;
				font-size: 2em;
				text-align: center;
				text-transform: uppercase;
				&::before{
					position: absolute;
					content: "";
					left: 50%;
					transform: translate(-50%);
					margin-top: 55px;
					width: 100px;
					height: 3px;
					background-color: @ofxColor;
				}
			}
			h1.target1{
				font-family: 'Roboto-Light';
				color: @grey;
				font-weight: 200;
				font-size: 2.4em;
				text-transform: uppercase;
				margin-top: 0px;
				text-align: left;
				line-height: 1;
				&::before{
					display: none;
				}
				span{
					display: block;
					font-size: 105%;
				}
			}
			h1.target2{
				font-family: 'Roboto-Light';
				color: @grey;
				font-weight: 200;
				font-size: 2.85em;
				text-transform: uppercase;
				margin-top: 0px;
				text-align: left;
				line-height: 1;
				&::before{
					display: none;
				}
				span{
					display: block;
					font-size: 68%;
				}
			}
			
			img{
				margin-top: 0px;
				width: 130%;
				height: auto;
			}
			.target{
				img{
					max-width: 150px;
					margin: 0 auto;
				}
				h3{
					text-align: center;
					color: #2e3234;
				}
				p{
					text-align: center;
					margin: auto;
					max-width: 250px;
				}
			}
		}
		&#format{
			padding-top: 3em;
			padding-bottom: 1em;
			background: @ofxColor;
			overflow: hidden;
			#bg-openfx{
				position: absolute;
				left: 50%;
				transform: translateX(-50%) translateY(0px);
				width: 600px;
				height: 600px;
				background: url(../images/logo.png);
				background-size: 100%;
				background-repeat: no-repeat;
				opacity: .1;
			}
			h1{
				font-family: 'Roboto-Light';
				color: #fff;
				font-weight: 200;
				margin-bottom: 3em;
				font-size: 2em;
				text-align: center;
				text-transform: uppercase;
				&::before{
					position: absolute;
					content: "";
					left: 50%;
					transform: translate(-50%);
					margin-top: 55px;
					width: 100px;
					height: 3px;
					background-color: #fff;
				}
			}
			h1.content-format{
				font-family: 'Roboto-Light';
				color: #fff;
				font-weight: 200;
				margin-bottom: 1.5em;
				font-size: 4em;
				text-transform: uppercase;
				margin-top: 10px;
				text-align: left;
				line-height: 1;
				&::before{
					display: none;
				}
				span{
					display: block;
					font-size: 48%;
				}
			}
			img{
				max-width: 150px;
				margin: 0 auto;
			}
			p{
				color: #fff;
				font-family: 'Roboto-Light';
			}
		}



		&#students{
			padding-top: 3em;
			padding-bottom: 6em;
			h1{
				font-family: 'Roboto-Light';
				color: @grey;
				font-weight: 200;
				margin-bottom: 2em;
				font-size: 2em;
				text-align: center;
				text-transform: uppercase;
				&::before{
					position: absolute;
					content: "";
					left: 50%;
					transform: translate(-50%);
					margin-top: 55px;
					width: 100px;
					height: 3px;
					background-color: @ofxColor;
				}
			}
			h2{
				transition: all 0.3s;
				text-transform: uppercase;
				font-family: 'Roboto-Light';
				font-weight: 200;
				font-size: 1.8em;
				text-align: center;
				span{
					font-size: 0.8em;
					text-transform: none;
				}
			}
			.imac{
				h2{
					a{
						color: @ofxColor;
					}
					span{

					}
				}
			}
			.students{
				.student{
					margin-top: 4em;
					text-align: center;
					h4{
						font-family: "Roboto";
						font-weight: bold;
						color: #2e3234;
						margin-top: 1.5em;
					}
					p{
						color: @ofxColor;

					}
					ul{
						list-style: none;
						text-align: center;
						margin: 0px auto;
						padding: 0;
						li{
							list-style: none;
							text-align: center;
							display: inline-block;
							padding: 0.5em;
							a{
								font-size: 1.2em;
								transition: all 0.3s;
								&:hover{
									color: @ofxColor;
									transition: all 0.3s;
								}
							}
						}
					}
					img{
						border-radius: 50%;
						width: 100px;
						height: 100px;
						margin: 0px auto;
					}
				}
			}
		}
		&#collaborators{
			background: #fff;
			margin-bottom: 0;
			padding-top: 1.5em;
			padding-bottom: 5em;
			h2{
				font-family: 'Roboto-Light';
				font-weight: 200;
				text-align: center;
				color: @grey;
				font-size: 1.5em;
				margin-bottom: 2em;
			}
			img{
				margin: 0px auto;
				max-height: 200px;
				width: auto;
				
				filter: grayscale(1);
				-webkit-filter: grayscale(1); /* For Webkit browsers */
				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */

				transition: all 0.3s;
				&:hover{
					filter: grayscale(0);
					-webkit-filter: grayscale(0);
					filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
					
					transition: all 0.3s;
				}
			}
		}

	}
	footer{
		background: #2e3234;
		padding-top: 2em;
		padding-bottom: 6em;
		h2{
			font-size: 1em;
			text-transform: uppercase;
			color: #fff;
		}
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			li{
				list-style: none;
				display: block;
				font-family: 'Roboto-Light';
				font-weight: 200;
				a{
					color: #fff;
					opacity: .5;
					transition: all 0.3s;
					&:hover{
						opacity: 1;
						transition: all 0.3s;
					}
				}
			}
		}
		.logo{
			display: flex;
			align-items: center;
			img{
				max-height: 130px;
				width: auto;
				margin-top: 30px;
			}
			p{
				margin-top: 30px;
				margin-left: 2em;
				a{
					margin-top: 1.5em;
					display: block;
					font-family: 'Roboto-Light';
					font-weight: 200;
					color: #fff;
					font-size: 90%;
				}
			}
		}
		.license{
			color: @ofxTxt !important;
		}
		.links{

		}
		.social{
			.fa{
				width: 30px;
			}
		}
	}
}








