{% extends "layout.html" %}


{% block content %}



        <div class="header-content">
            <div class="top-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Configure bundle uploaded</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                     <h2>Uploaded successfully !</h2>
                </div>
            </div>
        </div>
    </div>



{% endblock %}



