{% extends "layout.html" %}


{% block title %}
<div class="header-content" data-0="height:100px" data-150="height:0px">
    <div class="top-header">
        <div class="">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h1 data-0="margin-top:25px;font-size:3em;" data-150="margin-top:-55px;font-size:2em;">
                          OpenFX plugins
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block subtitle %}
<div class="bottom-header">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse-filter">
                <span><i class="fa fa-filter" style="padding-right:7px;"></i>Filter plugins</span>
            </button>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse-filter">
            <form class="navbar-form">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            <div class='filter-title'><span>Display : </span>
                                <div class="toggler-group">
                                    <span class="toggler active" data-toggle="grid">
                                        <i class="fa fa-th-large"></i>
                                    </span>
                                    <span class="toggler" data-toggle="list">
                                        <i class="fa fa-th-list"></i>
                                    </span>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-2 filter-item order-catag">
                            <div class="radio radio-primary">
                                <label class="ascendant">
                                    <i class="fa fa-sort-alpha-asc"></i>Ascending
                                </label>
                            </div>
                        </div>


                        <div class="col-md-4 pull-right">
                            <div id="filter-page">
                                <p class="pager-size">
                                    Plugins par page : 
                                    <select name="size" class="">
                                        <option value="10">10</option>
                                        <option value="20" selected>20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                    </select>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="main-content" id="plugins">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="filter-page">
                    <ul class="pagination pagination-sm pager-check">
                        <li class="disabled"><a href="javascript:void(0)">«</a></li>
                        <li><a href="javascript:void(0)">»</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="surveys grid">
                {% set counterImg = 1 %}
                {% for plugin in dico.plugins %}
                    <li class="col-md-3">
                        <div class="panel panel-primary">
                            <a href="/plugin/{{plugin.pluginId}}">
                                <div class="plugins-titles">
                                    <img src="{{ url_for('static', filename='images/logoPad.png') }}" alt="" class="img-responsive plugin-thumbnail">
                                    <h3 class="panel-title">
                                        {{plugin.shortName}} {{plugin.version.major}}.{{plugin.version.minor}}
                                    </h3>
                                </div>
                            </a>
                            <div class="plugins-infos">
                                <p>
                                    {% for p in plugin.properties %}
                                        {% if p.name == "OfxPropPluginDescription" %}
                                            {{p.value[0]}}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </li>
                {% set counterImg = counterImg + 1 %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}



