{% extends "layout.html" %}


{% block title %}
<div class="header-content" data-0="height:100px" data-150="height:0px">
    <div class="top-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                     <h1 data-0="margin-top:25px;font-size:3em;" data-150="margin-top:-55px;font-size:2em;">
                        {% for property in plugin.properties %}
                            {% if property.name == "OfxPropShortLabel" %}
                                {{property.value[0]}}
                            {% endif %}
                        {% endfor %}
                        <small style="color:rgba(255,255,255,0.7);font-weight:300;">
                            Version {{plugin.version.major}}.{{plugin.version.minor}}
                        </small>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block subtitle %}
<div class="bottom-header">
    <div class="navbar navbar-default">
        <div class="navbar-collapse collapse navbar-responsive-collapse-filter">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <a href="/plugin"><i class="fa fa-angle-left"></i> Back to all plugins</a>
                        {% set urldemo = plugin.uri %}
                        {% set urldemo = urldemo[9:] %}
                        <a href="/editor/{{plugin.pluginId}}" class="btn btn-primary btn-render-navbar">
                            <i class="fa fa-rocket" style="padding-right: 7px"></i>
                            Live demo of 
                            <span class="calltolive">{% for property in plugin.properties %}
                                {% if property.name == "OfxPropShortLabel" %}
                                    {{property.value[0]}}
                                {% endif %}
                            {% endfor %}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                <h2>Plugin description</h2>
                </div>
                {% for property in plugin.properties %}
                    {% if property.name == "OfxPropPluginDescription" %}
                    <p>
                        {% for desc in property.value %}
                            {{desc}}
                        {% endfor %}
                    </p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>



        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>Preview gallery</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for image in plugin.sampleImagesPath %}
                <div class="col-md-3">
                    <div class="preview-img panel panel-primary img-responsive">
                        <img src="/plugin/{{plugin.pluginId}}/image/{{image}}">
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>Clips</h2>
                </div>
                <div class="panel clip">
                    <div class="clip-name">
                        {% for property in plugin.properties %}
                            {% if property.name == "OfxPropShortLabel" %}
                                {{property.value[0]}}
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% for clipTab in plugin.clips %}
                        {% for clip in clipTab %}
                            {% if clip.name == "OfxPropName" %}
                                {% if clip.value[0] == "Output" %}
                                    <a tabindex="0" class="clip-output" role="button" data-toggle="popover" data-trigger="focus" title="{{ clip.value[0] }}" data-content=
                                    {% for clipTab in plugin.clips %}
                                    {% for cliP in clipTab %}
                                    {% if cliP.name == "OfxImageEffectPropSupportedComponents" %}
                                    "Supported components :
                                    {% for val in cliP.value %}
                                    {{ val }}
                                    {% endfor %}"
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                    >{{ clip.value[0] }}</a>
                                {% elif clip.value[0] == "mask"%}
                                    <a tabindex="0" class="clip-mask" role="button" data-toggle="popover" data-trigger="focus" title="{{ clip.value[0] }}" data-content=
                                    {% for clipTab in plugin.clips %}
                                    {% for cliP in clipTab %}
                                    {% if cliP.name == "OfxImageEffectPropSupportedComponents" %}
                                    "Supported components :
                                    {% for val in cliP.value %}
                                    {{ val }}
                                    {% endfor %}"
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                    >{{ clip.value[0] }}</a>
                                {% else %}
                                     <a tabindex="0" class="clip-input" role="button" data-toggle="popover" data-trigger="focus" title="{{ clip.value[0] }}" data-content=
                                    {% for clipTab in plugin.clips %}
                                    {% for cliP in clipTab %}
                                    {% if cliP.name == "OfxImageEffectPropSupportedComponents" %}
                                    "Supported components :
                                    {% for val in cliP.value %}
                                    {{ val }}
                                    {% endfor %}"
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                    >{{ clip.value[0] }}</a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>Parameters</h2>
                </div>
                <table class="table table-striped table-hover" id="tab-parameters">
                    <thead>
                        <tr>
                            <th>Script name</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Value</th>
                            <!-- <th>Min.</th>
                            <th>Max.</th> -->
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for parameterTab in plugin.parameters %}
                            <tr tabindex="0" class="param-more" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" 
                            title="Details" 
                            data-content="
                            Default value :
                            {% for parameter in parameterTab %}
                                {% if parameter.name == 'OfxParamPropDefault' %}
                                    {{ parameter.value[0] }}
                                {% endif %}
                            {% endfor %}<br>
                            Min value : 
                            {% for parameter in parameterTab %}
                                {% if parameter.name == 'OfxParamPropMin' %}
                                    {{ parameter.value[0] }}
                                {% endif %}
                            {% endfor %}<br>
                            Max value : 
                            {% for parameter in parameterTab %}
                                {% if parameter.name == 'OfxParamPropMax' %}
                                    {{ parameter.value[0] }}
                                {% endif %}
                            {% endfor %}
                            ">
                                
                                <td style="opacity:0.5">
                                    {% for parameter in parameterTab %}
                                        {% if parameter.name == "OfxPropName" %}
                                            {{ parameter.value[0] }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for parameter in parameterTab %}
                                        {% if parameter.name == "OfxPropLabel" %}
                                            {{ parameter.value[0] }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for parameter in parameterTab %}
                                        {% if parameter.name == "OfxParamPropHint" %}
                                            {{ parameter.value[0] }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    <fieldset>
                                        {% for parameter in parameterTab %}
                                            {% if parameter.name == "OfxPropLabel" %}
                                                <div class="form-group">
                                                    {% for parameter in parameterTab %}
                                                        {% if parameter.name == "OfxParamPropDefault" %}
                                                            {% set default = parameter.value[0] %}

                                                            {% for parameter in parameterTab %}
                                                                {% if parameter.name == "OfxPropName" %}
                                                                    {% set name = parameter.value[0] %}

                                                                {% for parameter in parameterTab %}
                                                                    {% if parameter.name == "OfxParamPropType" %}
                                                                        {% set val = parameter.value[0] %}

                                                                        {% if val == "OfxParamTypeInteger" %}
                                                                            <input type="number" ofxType="OfxParamTypeInteger" name="{{name}}" id="{{name}}" class="form-control" value="{{default}}">
                                                                        {% endif %}
                                                                        {% if val == "OfxParamTypeInteger2D" %}
                                                                            <input type="text" ofxType="OfxParamTypeInteger2D" name="{{name}}" id="{{name}}" class="form-control" value="{{default}}">
                                                                        {% endif %}
                                                                        {% if val == "OfxParamTypeRange" %}
                                                                            <div class="slider shor"></div>
                                                                            <input name="{{name}}" ofxType="OfxParamTypeRange"  id="{{name}}" class="input-number" type="number" value="{{default}}">
                                                                        {% endif %}
                                                                        {% if val == "OfxParamTypeText" %}
                                                                            <input type="text" ofxType="OfxParamTypeText" name="{{name}}" id="{{name}}" class="form-control" value="{{default}}">
                                                                        {% endif %}
                                                                        {% if val == "OfxParamTypeDouble" %}
                                                                            <input type="number" ofxType="OfxParamTypeDouble" name="{{name}}" id="{{name}}" class="form-control" value="{{default}}">
                                                                        {% endif %}
                                                                        {% if val == "OfxParamTypeString" %}
                                                                            <input type="text" ofxType="OfxParamTypeString" name="{{name}}" id="{{name}}" class="form-control" value="{{default}}">
                                                                        {% endif %}

                                                                        {% if val == "OfxParamTypeChoice" %}

                                                                        {% for parameter in parameterTab %}
                                                                            {% if parameter.name == "OfxParamPropChoiceOption" %}
                                                                                <select ofxType="OfxParamTypeChoice" name="{{name}}" id="{{name}}" style="display:block">
                                                                                    {% for val in parameter.value %}
                                                                                        <option value="{{val}}">{{val}}</option>
                                                                                    {% endfor %}
                                                                                </select>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                        {% endif %}
                                                                        {% if val == "OfxParamTypeBoolean" %}
                                                                            <div class="togglebutton">
                                                                                <label>
                                                                                    {% if default == 1%}
                                                                                        <input ofxType="OfxParamTypeBoolean" name="{{name}}" id="{{name}}" type="checkbox" checked>
                                                                                    {% else %}
                                                                                        <input ofxType="OfxParamTypeBoolean" name="{{name}}" id="{{name}}" type="checkbox" >
                                                                                    {% endif %}
                                                                                </label>
                                                                            </div>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                </fieldset>
                                </td>
                                
                                <!-- <td>
                                    {% for parameter in parameterTab %}
                                        {% if parameter.name == "OfxParamPropMin" %}
                                            {{ parameter.value[0] }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for parameter in parameterTab %}
                                        {% if parameter.name == "OfxParamPropMax" %}
                                            {{ parameter.value[0] }}
                                        {% endif %}
                                    {% endfor %}
                                </td> -->
                                
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
</div>
{% endblock %}