{% extends "layout.html" %}


{% block title %}
<div class="header-content" data-0="height:175px" data-150="height:0px">
    <div class="top-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 data-0="margin-top:80px;font-size: 3.5em;" data-150="margin-top:-55px;font-size: 2em;">
                        {% for property in plugin.properties %}
                            {% if property.name == "OfxPropShortLabel" %}
                                {{property.value[0]}}
                            {% endif %}
                        {% endfor %}
                        <small style="color:rgba(255,255,255,0.7);font-weight:300;">
                            Version {{plugin.version.major}}.{{plugin.version.minor}}
                        </small>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block subtitle %}
<div class="bottom-header">
    <div class="navbar navbar-default">
        <div class="navbar-collapse collapse navbar-responsive-collapse-filter">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <a href="/plugins"><i class="fa fa-angle-left"></i> Back to all plugins</a>
                        {% set urldemo = plugin.uri %}
                        {% set urldemo = urldemo[9:] %}
                        <a href="/demo/{{urldemo}}" class="btn btn-primary btn-render-navbar">Render demo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}




{% block content %}
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                <h2>Plugin description</h2>
                </div>
                {% for property in plugin.properties %}
                    {% if property.name == "OfxPropPluginDescription" %}

                    <p>
                        {% for desc in property.value %}
                            {{desc}}
                        {% endfor %}
                    </p>

                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>Parameters</h2>
                </div>

                <a href="#0" id="tab-parameters-toggle" class="btn btn-primary">View all parameters</a>
                
                <table class="table table-striped table-hover" id="tab-parameters">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set count = 1 %}
                        {% for parameterTab in plugin.parameters %}
                            {% for parameter in parameterTab %}
                                {% if parameter.name == "OfxPropLabel" %}
                                    <tr>
                                        <td>{{ count }}</td>
                                        <td>{{ parameter.value[0] }}</td>
                                        <td>
                                            {% for parameter in parameterTab %}
                                                {% if parameter.name == "OfxParamPropType" %}
                                                    {% set val = parameter.value[0] %}
                                                    {{ val[12:] }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {% set count = count + 1 %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>Clips <small>(Click on I/O to view specifications)</small></h2>
                </div>



                <div class="panel clip">
                    <span class="clip-name">
                        {% for property in plugin.properties %}
                            {% if property.name == "OfxPropShortLabel" %}
                                {{property.value[0]}}
                            {% endif %}
                        {% endfor %}
                    </span>

                    {% for clipTab in plugin.clips %}
                        {% for clip in clipTab %}

                            {% if clip.name == "OfxPropName" %}

                                {% if clip.value[0] == "Output" %}

                                    <a tabindex="0" class="clip-output" role="button" data-toggle="popover" data-trigger="focus" title="{{ clip.value[0] }}" data-content=
                                    {% for clipTab in plugin.clips %}
                                    {% for cliP in clipTab %}
                                    {% if cliP.name == "OfxImageEffectPropSupportedComponents" %}
                                    "Supported components :
                                    {% for val in cliP.value %}
                                    {{ val }}
                                    {% endfor %}"
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                    >{{ clip.value[0] }}</a>

                                {% elif clip.value[0] == "mask"%}
                                    <a tabindex="0" class="clip-mask" role="button" data-toggle="popover" data-trigger="focus" title="{{ clip.value[0] }}" data-content=
                                    {% for clipTab in plugin.clips %}
                                    {% for cliP in clipTab %}
                                    {% if cliP.name == "OfxImageEffectPropSupportedComponents" %}
                                    "Supported components :
                                    {% for val in cliP.value %}
                                    {{ val }}
                                    {% endfor %}"
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                    >{{ clip.value[0] }}</a>

                                {% else %}
                                     <a tabindex="0" class="clip-input" role="button" data-toggle="popover" data-trigger="focus" title="{{ clip.value[0] }}" data-content=
                                    {% for clipTab in plugin.clips %}
                                    {% for cliP in clipTab %}
                                    {% if cliP.name == "OfxImageEffectPropSupportedComponents" %}
                                    "Supported components :
                                    {% for val in cliP.value %}
                                    {{ val }}
                                    {% endfor %}"
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                    >{{ clip.value[0] }}</a>

                                {% endif %}

                            {% endif %}

                        {% endfor %}
                    {% endfor %}
                </div>

            </div>
        </div>






        <!-- <div class="row">
            <form class="form-horizontal">
                <div class="plugin-render">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h2>Ask for a render</h2>
                        </div>
                        <a href="/demo" class="btn btn-primary">Go to demo page</a>
                    </div>
                    

                    <div class="col-md-6">
                        <h3>Default image</h3>
                        <img src="{{ url_for('static', filename='images/test.png') }}" alt="" class=" panel render-img img-responsive">
                        
                    </div>
                    <div class="col-md-6">
                        <h3>Change render's parameters</h3>
                        <div class="render-form">
                            <fieldset>
                                <div class="form-group">
                                    <label for="input0" class="col-lg-2 control-label">Range</label>
                                    <div class="col-lg-10">
                                        <div class="slider shor"></div>
                                        <div class="input-number"></div>
                                        <input id="input-number" type="number" id="input0" value="" hidden>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input1" class="col-lg-2 control-label">Text</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="input1" placeholder="First input">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input2" class="col-lg-2 control-label">Number</label>
                                    <div class="col-lg-10">
                                        <input type="number" class="form-control" id="input2" placeholder="2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input3" class="col-lg-2 control-label">Toggle</label>
                                    <div class="col-lg-10">
                                        <div class="togglebutton">
                                            <label>
                                                <input id="input3" type="checkbox">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input4" class="col-lg-2 control-label">Check</label>
                                    <div class="col-lg-10">
                                        <div class="checkbox">
                                            <label>
                                                <input id="input4" type="checkbox">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Radio</label>
                                    <div class="col-lg-10">
                                        <div class="radio radio-primary">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                                Option one
                                            </label>
                                        </div>
                                        <div class="radio radio-primary">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                                Option two
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="select" class="col-lg-2 control-label">Selects</label>
                                    <div class="col-lg-10">
                                        <select class="form-control" id="select">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="select" class="col-lg-2 control-label">Multiple</label>
                                    <div class="col-lg-10">
                                        <select multiple="" class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputFile" class="col-lg-2 control-label">Image</label>
                                    <div class="col-lg-10">
                                        <input type="text" readonly="" class="form-control floating-label" placeholder="Browse an other picture...">
                                        <input type="file" id="inputFile" multiple="">
                                    </div>
                                </div>
                                <div class="form-group submit-form">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button class="btn btn-default">Cancel</button>
                                        <button type="submit" class="btn btn-primary">Get a render</button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div> -->
</div>
{% endblock %}