{% extends "layout.html" %}

{% block title %}
<div class="header-content" data-0="height:100px" data-150="height:0px">
    <div class="top-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                     <h1 data-0="margin-top:25px;font-size:3em;" data-150="margin-top:-55px;font-size:2em;">
                      Upload a bundle
                    </h1>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block subtitle %}
<div class="bottom-header">
    <div class="navbar navbar-default">
        <div class="navbar-collapse collapse navbar-responsive-collapse-filter">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <a href="/plugins"><i class="fa fa-angle-left"></i> Back to all plugins</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}

{% if uploaded == None  %}
    <div class="main-content">
        <div class="container-fluid">
          <form id='metaBundle'>
            <input type='text' id="bundleName" required placeholder="your bundle's name" >
            <input type='text' id="bundleDescription" required placeholder="your bundle's description">
            <input type='submit' value = 'Go' id="createBundle" class="btn btn-primary" attr-id="{{user.id}}">
          </form>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div id="droparea" class="dropzone">
                        <h1>Click or drag a bundle folder</h1>
                        <div id="previewsContainer">
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div id="selectImage"><a href="#">Select folder</a></div> -->
            <div id="fileSubmit"><a href="" class="btn btn-primary">Upload bundle</a></div>
        </div>
    </div>
{% else %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    LOL
                </div>
            </div>
        </div>
    </div>
{% endif %}


<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ url_for('static', filename='scripts/vendor/dropzone.js') }}"></script>
<!--<script src="{{ url_for('static', filename='scripts/dropzone-config.js') }}"></script>-->
<script type="text/javascript">

console.log("lol");
Dropzone.autoDiscover = false;

var bundleId = undefined;
//var bundleId;
console.log("START : bundleId : "+bundleId);

var myDropzone = undefined;
$("#droparea").hide();
$('#fileSubmit').hide();

$(function(){
    var wofxDropzone = new Dropzone("#droparea", {
        url: "undefinedUrl",
        acceptedFiles: "application/zip, application/x-tar, application/gzip, application/x-gzip", //This is a comma separated list of mime types or file extensions.Eg.: image/*,application/pdf,.psd.
        maxFilesize: 1024, // in MB
        paramName: "file" // The name that will be used to transfer the file
    });

    wofxDropzone.options.previewTemplate = '\
        <div class="dz-preview dz-file-preview">\
          <div class="dz-details">\
          <div class="dz-filename"><span data-dz-name></span></div>\
          <div class="dz-size" data-dz-size></div>\
          <img data-dz-thumbnail />\
        </div>\
        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>\
        <div class="dz-error-message"><span data-dz-errormessage></span></div>\
        </div>';

    $('#fileSubmit').click(function(){
        console.log("upload to :" + wofxDropzone.options.url);
        console.log(wofxDropzone);

        wofxDropzone.options.headers={"Content-Type": wofxDropzone.files[0].type};
        wofxDropzone.processQueue(); //processes the queue
    });

    $('#metaBundle').submit(function(event, bundleId){
        
        bundleName = $("#bundleName").val();
        bundleDescription = $("#bundleDescription").val();
        var userId = $("#createBundle").attr("attr-id");

        $.ajax({
            type : 'POST',
            url : '/bundle',
            dataType: 'json',
            data : {'bundleName' : bundleName, 'bundleDescription' : bundleDescription, 'userId' : userId}
        }).done(function(data, bundleId){
            
            $("#droparea").show();
            $('#fileSubmit').show();
            console.log("DROPZONE IS READY, BUNDLEID IS GENERATED !");

            bundleId = data.bundleId;
            
            console.log("MIDDLE : "+bundleId);

            var bundleURI = "/bundle/"+bundleId+"/archive";

            wofxDropzone.options.url = bundleURI;

            
        });

        console.log("END : bundleId : "+bundleId);
        console.log("---------------------------------");
        event.preventDefault();
        return false;
    });
});

</script>
{% endblock %}



