{% extends "layout.html" %}

{% block title %}
<div class="header-content" data-0="height:100px" data-150="height:0px">
    <div class="top-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                     <h1 data-0="margin-top:25px;font-size:3em;" data-150="margin-top:-55px;font-size:2em;">
                      Upload a bundle
                    </h1>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block subtitle %}
<div class="bottom-header">
    <div class="navbar navbar-default">
        <div class="navbar-collapse collapse navbar-responsive-collapse-filter">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <a href="/plugins"><i class="fa fa-angle-left"></i> Back to all plugins</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}

{% if uploaded == None  %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div id="droparea" class="dropzone">
                        <h1>Click or drag a bundle folder</h1>
                        <div id="previewsContainer">
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div id="selectImage"><a href="#">Select folder</a></div> -->
            <div id="fileSubmit"><a href="" class="btn btn-primary">Upload bundle</a></div>
        </div>
    </div>
{% else %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    LOL
                </div>
            </div>
        </div>
    </div>
{% endif %}


<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ url_for('static', filename='scripts/vendor/dropzone.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/dropzone-config.js') }}"></script>

{% endblock %}



