[CATALOG]
bundleStore: bundle

[ANALYSER]
uri: http://0.0.0.0:5004

[RESOURCES]
resourcesDirectory = resourcesDirectory

[MONGODB]
hostname: localhost
port: 27017
dbName: wofx
bundleTable: bundles
pluginTable: plugins
resourceTable: resources