<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>

<div id="selectImage"><a href="#">Select Image</a></div>
<div id="fileSubmit"><a href="#">Submit</a></div>

<div id="droparea" class="dropzone">
	<p>droparea</p>
	<div id="previewsContainer">
		<p>previewsContainer</p>
	</div>
</div>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>
