{% extends "plugin.html" %}

{# Set the active item in the menu #}
{% set active = "comments" %}

{% block content %}
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Comments</h2>
                <div class="row">
                    {% if plugin.comments %}
                    <div class="col-md-11 col-md-offset-1">
                        {% for comment in plugin.comments %}
                        <div class="comment-container row">
                                <div class="col-md-2 user">{{comment.user}}</div>
                                <div class="col-md-10 comment">{{comment.content}}</div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="col-md-12">
                        <p>
                            No comments have been posted yet, enjoy and post a new comment !
                        </p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="addComment">
                    {% if user %}
                        <label for="name" class="hidden">Your name</label>
                        <input id="user" type="text" class="form-control hidden" name="name" value="{{user.name}}">
                    {% else %}
                        <label for="name">Your name</label>
                        <input id="user" type="text" class="form-control" name="name">
                    {% endif %}
                    <label for="comment">Your Comment</label>
                    <textarea id="comment" class="form-control" type="text" name="comment" placeholder="Leave a comment"></textarea>
                    <button id="addComment" class="btn btn-default" type="submit" name="submit">Go</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {

    function commentJson()
    {
        $.ajax({
            type: "POST",
            url: "/plugin/"+{{plugin.pluginId}}+"/comments/update",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                'commentscontent': $("#comment").val(),
                'commentsuser' : $("#user").val()
            }),
        })
    }

    $("#addComment").click(function(){
        commentJson();
    });
});
</script>
{% endblock %}
