{% extends "plugin.html" %}

{# Set the active item in the menu #}
{% set active = "comments" %}

{% block content %}
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <h3>Comments : </h3>
                <div class="row">
                    {% if plugin.comuser and plugin.comcontent %}
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <ul class="comment user">
                                {% for user in plugin.comuser %}
                                    <li>{{user}} :</li>
                                {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <ul class = "comment content">
                                {% for content in plugin.comcontent %}
                                    <li>{{content}}</li>
                                {% endfor %}
                        </ul>
                    </div>
                    {% else %}
                    <div class="col-md-12">
                        <p>
                            No comments have been posted yet, enjoy and post a new comment !
                        </p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <form>
            <label for="name">Your name</label>
            <input id="user" type="text" class="form-control" name="name">
            <label for="comment">Your Comment</label>
            <textarea id="comment" class="form-control" type="text" name="comment" placeholder="Leave a comment"></textarea>
            <button id="addComment" class="btn btn-default" type="submit" name="submit">Go</button>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {

    function commentJson()
    {
        $.ajax({
            type: "POST",
            url: "/plugin/"+{{plugin.pluginId}}+"/comments/update",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                'commentscontent': $("#comment").val(),
                'commentsuser' : $("#user").val()
            }),
        })
    }

    $("#addComment").click(function(){
        commentJson();
    });
});
</script>
{% endblock %}
