{% extends "headersInformation.html" %}

{% block body %}

<div id="containerHome">
    <header class="header">
        <span class="open icon">&#9776;</span>
        <div class="navbar search-bar">
            <form id="searchForm" action="/plugin">
                  <input type="text" placeholder="Search" id="searchquery" name="search"/>
                  <button id="searchtrigger" type="submit" value="Submitquery"><i class="fa fa-search"></i></button>
            </form>
        </div>

        <div class="header-content">
                    <img class="headerImg" alt="headerImg" src="{{ url_for('static', filename='images/header.png') }}" />

            <div class="top-header">
                <div class="">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>
                                    ShuttleOFX
                                </h1>
                                <small style="color:rgba(255,255,255,0.7);font-weight:300;">Create, Share and Play online with image processing plugins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="scroller">
        <div class="main">
            <div class="main-content no-bottom-header">
                <div class="container-fluid">

                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
<script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
