{% extends "layout.html" %}

{% block styles %}
<!-- Styles -->
<link href='http://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700' rel='stylesheet' type='text/css'>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="http://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/vendor/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">

<!-- favicon -->
<link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='images/android-icon-192x192.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='images/favicon-96x96.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div id="main-home">
    <div id="hero-home">
        <div id="cover-home">
            <section id="intro">
                <div class="content container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mainLogo">
                                <img src="{{ url_for('static', filename='images/logo.png') }}">
                                <a>ShuttleOFX</a>
                            </div>
                        </div>
                    </div>
                    <div class="row title-home">
                        <h1>Create, share and play online with image processing plugins.</h1>
                        <h3>
                            <span>Help us to develop the plateform</span>
                            <iframe src="http://ghbtns.com/github-btn.html?user=ShuttleOFX&repo=shuttleofx&type=fork&count=true&size=large" frameborder="0" scrolling="0" allowTransparency="true" height="30" width="170" style="padding-top:0px;margin-left:10px;"></iframe>
                        </h3>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
