{% extends "headersInformation.html" %}


{% block body %}
<div id="container">
    {% block header %}
    <header class="header primary">
        <span class="open icon">&#9776;</span>
        <div class="navbar search-bar">
            {% block back_button %}{% endblock %}
            <form id="searchForm" action="/plugin">
                  <input type="text" placeholder="Search" id="searchquery" name="search"/>
                  <button id="searchtrigger" type="submit" value="Submitquery"><i class="fa fa-search"></i></button>
            </form>
        </div>
        {% block title %}{% endblock %}
        {% block subtitle %}{% endblock %}
    </header>
    {% endblock %}

    <section id="scroller">
        <div class="main">
            {% block content %}{% endblock %}
        </div>
    </section>
</div>
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}
