{% extends "headersInformation.html" %}

{% block body %}

<div id="container">
    {% block header %}
    <header class="header">
        <span class="open icon">&#9776;</span>
        <div class="navbar search-bar">
            {% block back_button %}{% endblock %}
            <form id="searchForm" action="/plugin">
                  <input type="text" placeholder="Search" id="searchquery" name="search"/>
                  <button id="searchtrigger" type="submit" value="Submitquery"><i class="fa fa-search"></i></button>
            </form>
        </div>
        {% block title %}{% endblock %}
        {% block subtitle %}{% endblock %}
    </header>
    {% endblock %}

    <section id="scroller">
        <div class="main">
            {% block content %}{% endblock %}
        </div>
    </section>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}


<script>
    if($('#addThumbForm').length > 0){

        var pluginId = $("#addGalleryImage").attr("attr-id");

        var thumDropzone = new Dropzone("#addThumbForm", {
            url : '/plugin/0/resource',
            acceptedFiles: "image/jpeg, image/png, image/gif, image/pict",
            maxFilesize: 5*1024,
            paramName: "file"
        });

        $("#uploadtrigger").click(function(event){
            event.preventDefault();

            thumDropzone.options.url = '/plugin/'+pluginId+'/resource';

            thumDropzone.processQueue();

            thumDropzone.on('success', function(data){

                data = JSON.parse(data.xhr.response);

                var imageId = data._id["$oid"];

                var addImageURI = '/plugin/' + pluginId + '/images';

                $.ajax({
                    type : 'POST',
                    url : addImageURI,
                    contentType: "application/json",
                    data : JSON.stringify({ 'ressourceId' : imageId}),
                    success: function(){
                        location.reload();
                    }
                }).done(function(){
                    $("#addImageGallery").hide();
                    $('.modal-backdrop').remove();
                })
            })

        });
    }
</script>
