{% extends "layout.html" %}

{% block back_button %}
    <a href="/plugin" id="back-to-plugins"><i class="fa fa-angle-left"></i> Back to all plugins</a>
{% endblock %}

{% block title %}
<div class="header-content">
    <div class="top-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        Page not found
                    </h1>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="main-content no-bottom-header" id="plugins">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="filter-page">
                    <h3><i class="fa fa-meh-o"></i> Oups... Sorry the page you requested may have been moved or deleted.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
