{% extends "layout.html" %}

{% block title %}
<div class="header-content">
    <div class="top-header">
        <div class="">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h1>
                          OpenFX plugins
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block subtitle %}
<div class="bottom-header">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse-filter">
                <span><i class="fa fa-filter" style="padding-right:7px;"></i>Filter plugins</span>
            </button>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse-filter">
            <form class="navbar-form">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class='filter-title'><span>Display : </span>
                                <div class="toggler-group">
                                    <span class="toggler active" data-toggle="grid">
                                        <i class="fa fa-th-large"></i>
                                    </span>
                                    <span class="toggler" data-toggle="list">
                                        <i class="fa fa-th-list"></i>
                                    </span>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-3 col-sm-3 filter-item order-catag">
                            <div class="radio radio-primary">
                                {% if dico.alphaSort|int == 1 %}
                                    <label class="descendant">
                                        <i class="fa fa-sort-alpha-desc"></i>Descending
                                    </label>
                                {% else %}
                                    <label class="ascendant">
                                        <i class="fa fa-sort-alpha-asc"></i>Ascending
                                    </label>
                                {% endif %}
                                </a>
                            </div>
                        </div>


                        <div class="col-md-5 col-sm-5 pull-right">
                            <div id="filter-page">
                                <p class="pager-size">
                                    Plugins per page:
                                    <select name="size" class="" id="pageSize">
                                        <option value="10" {% if dico.count == 10 %}selected{% endif %}>10</option>
                                        <option value="20" {% if dico.count == 20 %}selected{% endif %}>20</option>
                                        <option value="30" {% if dico.count == 30 %}selected{% endif %}>30</option>
                                        <option value="40" {% if dico.count == 40 %}selected{% endif %}>40</option>
                                    </select>
                                    <input id="totalPlugins" type="hidden" name="totalPlugins" value="{{ dico.totalPlugins }}">
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="main-content" id="plugins">
    <div class="container-fluid">
        {{ dico.pagination|safe }}
        <div class="row">
            <ul class="surveys grid">
                {% for plugin in dico.plugins %}
                    <li class="plugin">
                        <a href="/plugin/{{plugin.rawIdentifier}}">
                        <div class="panel panel-primary">
                                <div class="plugins-titles">
									{% if plugin.defautImagePath %}
										{% set image = plugin.defautImagePath  %}
                                        {% set imagePath = "/plugin/" ~ plugin.pluginId ~ "/thumbnail/" ~ image %}
                                        {% set class = "custom" %}
                                    {% elif plugin.sampleImagesPath|length != 0 %}
                                        {% set image = plugin.sampleImagesPath[0] %}
                                        {% set imagePath = "/plugin/" ~ plugin.pluginId ~ "/thumbnail/" ~ image %}
                                        {% set class = "custom" %}
                                    {% else %}
                                        {% set imagePath = url_for('static', filename='images/logoPad.png') %}
                                        {% set class = "" %}
                                    {% endif %}
                                    <img src="{{ imagePath }}" alt="" class="img-responsive plugin-thumbnail {{ class }}" />
                                    <h3 class="panel-title">
                                        {{plugin.label}}
                                    </h3>
                                </div>
                            <div class="plugins-info">
                                <p>
                                    {% if "OfxPropPluginDescription" in plugin.properties %}
                                        {{plugin.properties.OfxPropPluginDescription.value}}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {{ dico.pagination|safe }}
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        updateSortingPrefs();
    </script>
{% endblock %}
