{% extends "layout.html" %}

{% block back_button %}
<a href="/plugin" id="back-to-plugins" data-0="line-height:80px" data-150="line-height:30px"><i class="fa fa-angle-left"></i> Back to all plugins</a>
{% endblock %}

{% block title %}
<div class="header-content" data-0="height:25%" data-150="height:10%">
    <div class="top-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                     <h1 data-0="margin-top:25px;font-size:3em;" data-150="margin-top:-55px;font-size:2em;">
                        {{plugin.label}}
                        <small style="color:rgba(255,255,255,0.7);font-weight:300;">
                            Version {{plugin.version.major}}.{{plugin.version.minor}}
                        </small>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="tabs">
                        <li class="tab"><a {% if active is not defined %}class="active"{% endif %} href="/plugin/{{plugin.rawIdentifier}}">General</a></li>
                        {% if "OfxImageEffectPropSupportedContexts" in plugin.properties %}
                            {% set supportedContexts = plugin.properties.OfxImageEffectPropSupportedContexts.propValues %}
                            {% if "OfxImageEffectContextFilter" in supportedContexts or "OfxImageEffectContextGenerator" in supportedContexts %}
                                <li class="tab"><a {% if active == "demo" %}class="active"{% endif %} href="/editor/{{plugin.rawIdentifier}}">Demo</a></li>
                            {% endif %}
                        {% endif %}
                        <li class="tab"><a {% if active == "infos" %}class="active"{% endif %} href="/plugin/{{plugin.rawIdentifier}}/infos">Technical info</a></li>
                        <!-- FIXME enable these tabs when wiki and/or comments are active -->
                        <li class="tab"><a {% if active == "wiki" %}class="active"{% endif %} href="/plugin/{{plugin.rawIdentifier}}/wiki">Wiki</a></li>
                        <li class="tab"><a {% if active == "comments" %}class="active"{% endif %} href="/plugin/{{plugin.rawIdentifier}}/comments">Comments</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="main-content no-bottom-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                <h2>Plugin description</h2>
                </div>
                <p>
                    {% if "OfxPropPluginDescription" in plugin.properties %}
                        {{plugin.properties.OfxPropPluginDescription.value}}
                    {% endif %}
                </p>
            </div>
        </div>

        {% if "OfxImageEffectPropSupportedContexts" in plugin.properties %}
            {% set supportedContexts = plugin.properties.OfxImageEffectPropSupportedContexts.propValues %}
            {% if "OfxImageEffectContextFilter" in supportedContexts or
               "OfxImageEffectContextGenerator" in supportedContexts
               %}
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>
                        Examples
                        {% if user %}
                        <button class="btn btn-primary btn-addImage" data-toggle="modal" data-target="#addImageGallery"><i class="fa fa-plus"></i></button>
                        {% endif %}
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for image in plugin.sampleImagesPath %}
                <div class="col-md-3">
                    <div class="preview-img panel panel-primary img-responsive">
                        <img src="/plugin/{{plugin.pluginId}}/image/{{image}}">
                    </div>
                </div>
            {% endfor %}
        </div>
            {% endif %}
        {% endif %}



{% if user %}
<div class="modal" id="addImageGallery">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Choose a new picture to upload</h4>
            </div>

            <div class="modal-body" style="padding: 24px">
                <form id="addThumbForm" class="dropzone" action="/file-upload">
                <div class="form-group">
                    <label for="addGalleryImage" class="col-lg-2 control-label">Browse</label>
                    <div class="col-lg-10">
                        <input type="file" name="file" id="addGalleryImage" attr-id="{{plugin.pluginId}}" style="margin-top:6px">
                    </div>
                </div>
                </form>
            </div>

            <div class="modal-footer" style="padding-top:0px!important">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <div id="uploadtrigger" class="btn btn-primary">Upload a new picture</div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/vendor/js.cookie.js') }}"></script>
    <script type="text/javascript">
        // Read cookies content and update the back link
        // to redirect to the plugins page with the right preferences :
        // nbr of plugins and page
        $(document).ready(function() {
            var href = $("#back-to-plugins").attr("href");
            var prefs = Cookies.getJSON("user_sorting_prefs");
            if(prefs && prefs.count && prefs.skip){
                $("#back-to-plugins").attr("href", href + "?count=" + prefs.count + "&skip=" + prefs.skip );
            }
        });

    </script>
{% endblock %}
