{% extends "layout.html" %}

{% block back_button %}
<a href="/plugin" id="back-to-plugins"><i class="fa fa-angle-left"></i> Back to all plugins</a>
{% endblock %}

{% block title %}
<div class="header-content">
    <div class="top-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                     <h1>
                        {{plugin.label}}
                        <small style="color:rgba(255,255,255,0.7);font-weight:300;">
                            Version
                            <div id="version">
                                {% if versions|length > 1 %}
                                <i class="fa fa-angle-down"></i>
                                <select onChange="changeVersion(this);">
                                    {% for version in versions %}
                                        {% if version.version.major == plugin.version.major and version.version.minor == plugin.version.minor %}
                                            <option selected>{{version.version.major}}.{{version.version.minor}}</option>
                                        {% else %}
                                            <option>{{version.version.major}}.{{version.version.minor}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {% else %}
                                <span>{{versions[0].version.major}}.{{versions[0].version.minor}}</span>
                                {% endif %}
                            </div>
                        </small>
                    </h1>
                    <a href="/plugin/{{plugin.pluginId}}/download/{{plugin.bundleId}}" title="Download plugin's bundle" id="download">
                        <i class="fa fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="tabs">
                        <li class="tab"><a {% if active is not defined %}class="active"{% endif %} href="/plugin/{{plugin.rawIdentifier}}/version/{{plugin.version.major}}.{{plugin.version.minor}}">General</a></li>
                        {% if "OfxImageEffectPropSupportedContexts" in plugin.properties %}
                            {% set supportedContexts = plugin.properties.OfxImageEffectPropSupportedContexts.propValues %}
                            {% if "OfxImageEffectContextFilter" in supportedContexts or "OfxImageEffectContextGenerator" in supportedContexts %}
                                <li class="tab"><a {% if active == "demo" %}class="active"{% endif %} href="/plugin/{{plugin.rawIdentifier}}/version/{{plugin.version.major}}.{{plugin.version.minor}}/demo">Demo</a></li>
                            {% endif %}
                        {% endif %}
                        <li class="tab"><a {% if active == "wiki" %}class="active"{% endif %} href="/plugin/{{plugin.rawIdentifier}}/version/{{plugin.version.major}}.{{plugin.version.minor}}/wiki">Documentation</a></li>
                        <li class="tab"><a {% if active == "comments" %}class="active"{% endif %} href="/plugin/{{plugin.rawIdentifier}}/version/{{plugin.version.major}}.{{plugin.version.minor}}/comments">Comments</a></li>
                        <li class="tab"><a {% if active == "info" %}class="active"{% endif %} href="/plugin/{{plugin.rawIdentifier}}/version/{{plugin.version.major}}.{{plugin.version.minor}}/info">Technical</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="main-content no-bottom-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                <h2>Plugin description</h2>
                </div>
                <p>
                    {% if "OfxPropPluginDescription" in plugin.properties %}
                        {{plugin.properties.OfxPropPluginDescription.value}}
                    {% endif %}
                </p>
                <span id="grouping" attr-grouping="{{ plugin.properties.OfxImageEffectPluginPropGrouping.value }}"></span>
            </div>
        </div>

        {% if "OfxImageEffectPropSupportedContexts" in plugin.properties %}
            {% set supportedContexts = plugin.properties.OfxImageEffectPropSupportedContexts.propValues %}
            {% if "OfxImageEffectContextFilter" in supportedContexts or
               "OfxImageEffectContextGenerator" in supportedContexts
               %}

        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>
                        Samples
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% if not plugin.sampleImagesPath %}
                <div class="col-md-12">
                        {% if user %}
                        <div class="col-md-3 btn-addImage" data-toggle="modal" data-target="#addImageGallery">
                            <i style="margin: auto; display : block;" class="fa fa-plus fa-2x"></i>
                        </div>
                        {% endif %}
                </div>
            {% else %}
                {% for image in plugin.sampleImagesPath %}
                    <div class="col-md-3">
						<div class="preview-img panel panel-primary img-responsive">
							<img class="gallery-preview-img" src="/plugin/{{plugin.pluginId}}/thumbnail/{{image}}"
								data-toggle="modal" data-target="#fullSizeImage">

							<button 
                                {% if image == plugin.defautImagePath %}
                                    {% set isDisable = "disabled" %}
                                {% else %}
                                    {% set isDisable = "" %}

                                data-toggle="tooltip"
                                data-placement="top"
                                
                                title="Define as default image"
                                {% endif %}
                                class="set-default-img btn btn-link {{ isDisable }}" style="margin: 0; padding: 0; transform: translateY(-133%)">
								{% if image == plugin.defautImagePath %}
								<i class="fa fa-star"></i>
								{% else %}
								<i class="fa fa-star-o"></i>
								{% endif %}
							</button>
						</div>
                    </div>
                {% endfor %}
                {% if user %}
                <div class="col-md-3" data-toggle="modal" data-target="#addImageGallery">
                    <div class="btn-addImage img-responsive">
                        <i style="margin: auto; display : block;" class="fa fa-plus fa-2x"></i>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        </div>
            {% endif %}
        {% endif %}
{% endblock %}

{% block modals %}
<div class="modal" id="fullSizeImage" style="margin: auto">
    <div class="modal-dialog" style="display: flex; justify-content: center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Example image</h4>
            </div>

            <div class="modal-body" >
                <img id="fullSizeDisplay" style="margin: auto" src="">
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addImageGallery">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Choose a new picture to upload</h4>
            </div>

            <div class="modal-body" style="padding: 24px">
                <form id="addThumbForm" class="dropzone" action="/plugin/{{plugin.pluginId}}/images">
                <div class="form-group">
                    <label for="addGalleryImage" class="col-lg-2 control-label">Browse</label>
                    <div class="col-lg-10">
                        <input type="file" name="file" id="addGalleryImage" attr-id="{{plugin.pluginId}}" style="margin-top:6px">
                    </div>
                </div>
                </form>
            </div>

            <div class="modal-footer" style="padding-top:0px!important">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <div id="uploadtrigger" class="btn btn-primary">Upload</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })

    if($('#addThumbForm').length > 0){
        var pluginId = $("#addGalleryImage").attr("attr-id");

        var thumDropzone = new Dropzone("#addThumbForm", {
            acceptedFiles: "image/jpeg, image/png, image/gif",
            paramName: "file"
        });

        $("#uploadtrigger").click(function(event){
            event.preventDefault();
            thumDropzone.options.url = '/plugin/'+pluginId+'/resource';
            thumDropzone.processQueue();

            thumDropzone.on('error', function(err){
                console.log(err);
            });

            thumDropzone.on('success', function(data){
                data = JSON.parse(data.xhr.response);
                var imageId = data._id["$oid"];
                var addImageURI = '/plugin/' + pluginId + '/images';

                $.ajax({
                    type : 'POST',
                    url : addImageURI,
                    contentType: "application/json",
                    data : JSON.stringify({ 'ressourceId' : imageId}),
                    success: function(){
                        location.reload();
                    }
                }).done(function(){
                    $("#addImageGallery").hide();
                    $('.modal-backdrop').remove();
                })
            })


        });


    }
</script>
{% endblock %}