{% extends "editor.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/script-editor.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='scripts/vendor/ace.js') }}"></script>
    <script>
            $("#input").val("code");
            $("#input option[value='code']").prop("selected", true);
            $("#input option").removeAttr("data-default");
            $("#input option[value='code']").attr("data-default", 'selected');


            $("#code").hide();

            $("#code").before(
                 '<div id = "script-editor" style="width: 100%; height: 250px;">'+
                    '<pre id = "editor" style="height: 100%;">'+

                    '</pre>'+
                 '</div>'
            );

            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/solarized_dark");
            editor.getSession().setMode("ace/mode/c_cpp");
            document.getElementById('editor').style.fontSize='11pt';
            $(".ace_scrollbar").css("z-index", 1);

            editor.setValue($("#code").data('default'));

            editor.getSession().on('change', function(e) {
                $("#code").val(editor.getValue());
            });

            $('#reset').click(function() {
                editor.setValue($("#code").data('default'));
            })

        // Delete underlining of demo-links
        var style = document.createElement("style");

        // Append the style tag to head
        document.head.appendChild(style);

        // Grab the stylesheet object
        sheet = style.sheet

        // Use addRule or insertRule to inject styles
        //sheet.addRule('.demo-links::before','height: 0px;');
        sheet.insertRule('.demo-links::before { height: 0px }', 0);
    </script>
{% endblock %}
