{% extends "plugin.html" %}

{# Set the active item in the menu #}
{% set active = "wiki" %}

{% block content %}
<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                <h2>Edit {{plugin.label}} wiki</h2>
                </div>
            </div>
        </div>

        <a href="/plugin/{{plugin.rawIdentifier}}/wiki" class="btn btn-primary">Back to wiki</a>

        <div class="row">
            <div class="col-md-12">
                <form>
                       <textarea id="wiki" class="panel panel-primary" data-provide="markdown" data-iconlibrary="fa" rows="10">{{plugin.wiki | last}}</textarea>
                       <input type='submit' value='Save' id="setWiki" class="btn btn-primary" attr-id="{{plugin.id}}">
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h3>Preview :</h3>
                    <span id="mkdwn">
                        {{ plugin.wiki | last }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {

    function wikiJson()
    {
        $.ajax({
            type: "POST",
            url: "/wiki/update/"+{{plugin.pluginId}},
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                'wikicontent': '\n' + $("#wiki").val()
            }),
        })
    }

    $("#setWiki").click(function(){
        wikiJson();
    });
});
</script>
<script type="text/javascript">
    var s = $("#mkdwn").html();
        s = "\n\n\n" + s + "\n\n\n";
    var rend = markdown.toHTML(s);
    //$("#mkdwn").html(s);
    $("#mkdwn").html(rend);
</script>
{% endblock %}
