{% extends "plugin.html" %}

{# Set the active item in the menu #}
{% set active = "wiki" %}

{% block content %}
<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                <h2>Edit {{plugin.label}} wiki</h2>
                </div>
            </div>
        </div>

        <a href="/plugin/{{plugin.rawIdentifier}}/wiki" class="btn btn-primary">Back to wiki</a>

        <div class="row">
            <div class="col-md-12">
                {% if user %}
                <form id="form-wiki">
                    <label for="name" class="hidden">Your name</label>
                    <input id="user" type="text" class="form-control hidden" name="name" value="{{user.name}}">
                    <input id="picture" type="text" name="picture" class="form-control hidden" value="{{user.picture}}">
                    {% for wiki in plugin.wiki %}
                    {% if loop.last %}
                    <textarea id="wiki" class="panel panel-primary" data-provide="markdown" data-iconlibrary="fa" rows="10">{{wiki.content}}</textarea>
                    {% endif %}
                    {% endfor %}
                    <input type='submit' value='Save' id="setWiki" class="btn btn-primary" attr-id="{{plugin.id}}">
                </form>
                {% else %}
                <p class="wikialert"><i class="fa fa-exclamation-triangle"></i>
                    You must be logged in to edit the wiki !
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {

    function wikiJson()
    {
        var now = new Date();
        var m = now.getMonth() + 1;
        var d = now.getDate();
        var y = now.getFullYear();
        var h = now.getHours();
        var i = now.getMinutes();
        $.ajax({
            type: "POST",
            url: "/wiki/update/"+{{plugin.pluginId}},
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                'wikicontent': '\n' + $("#wiki").val(),
                'wikiuser' : $("#user").val(),
                'wikipicture' : $("#picture").val(),
                'wikidate' : m+'/'+d+'/'+y+', '+h+':'+i
            }),
        })
    }

    $("#setWiki").click(function(){
        wikiJson();
    });
});
</script>
<script type="text/javascript">
$('#wiki').markdown({
    hiddenButtons:'cmdPreview',
    footer:'<div id="twitter-footer" class="well" style="display:none;"></div>',
    additionalButtons: [
        [{
            name: "groupCustom",
            data: [{
            name: "cmdIndent",
                toggle: true, // this param only take effect if you load bootstrap.js
                title: "Indent",
                icon: "fa fa-indent",
                callback: function(e){
                  // Replace selection with some drinks
                  var string, cursor,
                      selected = e.getSelection(), content = e.getContent(),


                  // Give random drink
                  string = "    "

                  // transform selection and set the cursor into chunked text
                  e.replaceSelection(string)
                  cursor = selected.start

                  // Set the cursor
                  e.setSelection(cursor,cursor+string.length)
                }
              }]
        }]
    ],
    onChange:function(e){
        var content = e.parseContent()

        if (content == '') {
            $('#twitter-footer').hide()
        } else {
            $('#twitter-footer').show().html(content)
        }
    }
})
    var s = $("#mkdwn").html();
        s = "\n\n\n" + s + "\n\n\n";
    var rend = markdown.toHTML(s);
    $("#mkdwn").html(rend);
</script>
{% endblock %}
