{% extends "plugin.html" %}

{# Set the active item in the menu #}
{% set active = "wiki" %}

{% block content %}
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                {% if plugin.wiki %}
                {% if user %}
                <a href="/wiki/edit/{{plugin.rawIdentifier}}" class="btn btn-primary">Edit wiki</a>
                {% else %}
                    <p class="wikialert"><i class="fa fa-exclamation-triangle"></i>
                        You must be logged in to edit the wiki !
                    </p>
                {% endif %}
                <span id="mkdwn">
                    {{ plugin.wiki | last }}
                </span>
                {% else %}
                {% if user %}
                    <p class="wikialert"><i class="fa fa-exclamation-triangle"></i>
                        No wiki has been created yet, go on and add a <a href="/wiki/edit/{{plugin.rawIdentifier}}" class="btn btn-primary">new wiki</a>
                    </p>
                {% else %}
                    <p class="wikialert"><i class="fa fa-exclamation-triangle"></i>
                        No wiki has been created yet, you must be logged in to create a new one !
                    </p>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var s = $("#mkdwn").html();
        s = "\n\n\n" + s + "\n\n\n";
    var rend = markdown.toHTML(s);
    $("#mkdwn").html(rend);
</script>
{% endblock %}
