{% extends "plugin.html" %}

{% block markdown %}
<!-- js -->
<script src="{{ url_for('static', filename='scripts/vendor/markdown/markdown-it.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/vendor/markdown/markdown-it-footnote.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/vendor/markdown/highlight.pack.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/vendor/markdown/emojify.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/vendor/markdown/codemirror/lib/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/vendor/markdown/codemirror/overlay.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/vendor/markdown/codemirror/xml/xml.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/vendor/markdown/codemirror/markdown/markdown.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/vendor/markdown/codemirror/gfm/gfm.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/vendor/markdown/codemirror/javascript/javascript.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/vendor/markdown/codemirror/css/css.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/vendor/markdown/codemirror/htmlmixed/htmlmixed.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/vendor/markdown/codemirror/lib/util/continuelist.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/vendor/markdown/rawinflate.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/vendor/markdown/rawdeflate.js') }}"></script>
<!-- css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='scripts/vendor/markdown/codemirror/css/base16-light.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='scripts/vendor/markdown/codemirror/lib/codemirror.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='scripts/vendor/markdown/codemirror/css/default.css') }}">
{% endblock %}

{# Set the active item in the menu #}
{% set active = "wiki" %}

{% block content %}
<div class="main-content">
    <div id="container-edit-documentation">

        {% if user%}
        <div class="row markdownwiki">
            <div class="col-md-6" id="in">
                <h3>Edit</h3>
                <form id="form-wiki">
                    <input id="user" class="hidden" name="name" value="{{user.name}}">
                    <input id="picture" name="picture" class="hidden" value="{{user.picture}}">
                    {% if plugin.wiki %}
                        {% for wiki in plugin.wiki %}
                        {% if loop.last %}
                    <textarea id="code">{{wiki.content}}</textarea>
                        {% endif %}
                        {% endfor %}
                    {% else%}
                    <textarea id="code">
## Plugin Title
### A list
* element
* element

### A numbered list
1. element
2. element
3. element

A [link](http://example.com).

![Alternative text](http://lorempixel.com/g/400/200/abstract/ "Title")</textarea>
                    {% endif %}
                </form>
            </div>
            <div class="col-md-6">
                <h3>Preview</h3>
                <div id="out" class="edit-out">

                </div>
            </div>
        </div>
                    <div class="row">
              <p class="markdown-help">
                                    <hr>
                    <a href="https://fr.wikipedia.org/wiki/Markdown" title="Markdown syntax documentation">
                      <i class="fa fa-question-circle" aria-hidden="true"></i>Markdown documentation
                    <a/>
                  </p>
                  <div class="col-md-6">
                      <a href="/plugin/{{plugin.rawIdentifier}}/wiki" class="btn btn-primary white"><i class="fa fa-angle-left"></i>Back to documentation</a>
                                            <input type='submit' value='Save' id="setWiki" class="btn btn-primary pull-right" attr-id="{{plugin.id}}">

                  </div>
                  <div class="col-md-6">
                  </div>
              </div>
        {% else %}
        <div class="row">
            <div class="col-md-12">
                <div class="message info">
                    <i class="fa fa-info-circle"></i> 
                    You must be logged in to edit the documentation !
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">

    // Because highlight.js is a bit awkward at times
    var languageOverrides = {
      js: 'javascript',
      html: 'xml'
    };

    // Emoji's folder
    emojify.setConfig({ img_dir: "{{ url_for('static', filename='images/markdown/emoji') }}" });

    // Basic Editor
    var md = markdownit({
      html: true,
      highlight: function(code, lang){
        if(languageOverrides[lang]) lang = languageOverrides[lang];
        if(lang && hljs.getLanguage(lang)){
          try {
            return hljs.highlight(lang, code).value;
          }catch(e){}
        }
        return '';
      }
    })
      .use(markdownitFootnote);

    var hashto;

    function update(e){
        setOutput(e.getValue());

        clearTimeout(hashto);
        hashto = setTimeout(updateHash, 1000);
    }

    function setOutput(val){
      val = val.replace(/<equation>((.*?\n)*?.*?)<\/equation>/ig, function(a, b){
        return '<img src="http://latex.codecogs.com/png.latex?' + encodeURIComponent(b) + '" />';
      });

      var out = document.getElementById('out');
      var old = out.cloneNode(true);
      out.innerHTML = md.render(val);
      emojify.run(out);

      var allold = old.getElementsByTagName("*");
      if (allold === undefined) return;

      var allnew = out.getElementsByTagName("*");
      if (allnew === undefined) return;

      for (var i = 0, max = Math.min(allold.length, allnew.length); i < max; i++) {
        if (!allold[i].isEqualNode(allnew[i])) {
          out.scrollTop = allnew[i].offsetTop;
          return;
        }
      }
    }

    var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
      mode: 'gfm',
      lineNumbers: true,
      matchBrackets: true,
      lineWrapping: true,
      theme: 'base16-light',
      extraKeys: {"Enter": "newlineAndIndentContinueMarkdownList"}
    });

    editor.on('click', update);
    editor.on('load', update);
    editor.on('change', update);

    // Download files
    function saveAsMarkdown(){
      save(editor.getValue(), "markdown.md");
    }

    function saveAsHtml() {
      save(document.getElementById('out').innerHTML, "html.html");
    }

    if($('#saveas-markdown').length != 0){
      document.getElementById('saveas-markdown').addEventListener('click', function() {
          saveAsMarkdown();
        });
    }

    if($('#saveas-html').length != 0){
      document.getElementById('saveas-html').addEventListener('click', function() {
        saveAsHtml();
      });
    }

    function save(code, name){
      var blob = new Blob([code], { type: 'text/plain' });
      if(window.saveAs){
        window.saveAs(blob, name);
      }else if(navigator.saveBlob){
        navigator.saveBlob(blob, name);
      }else{
        url = URL.createObjectURL(blob);
        var link = document.createElement("a");
        link.setAttribute("href",url);
        link.setAttribute("download",name);
        var event = document.createEvent('MouseEvents');
        event.initMouseEvent('click', true, true, window, 1, 0, 0, 0, 0, false, false, false, false, 0, null);
        link.dispatchEvent(event);
      }
    }

    // Get the textarea value
    function updateHash(){
      window.location.hash = btoa( // base64 so url-safe
        RawDeflate.deflate( // gzip
          unescape(encodeURIComponent( // convert to utf8
            editor.getValue()
          ))
        )
      );
    }

    if(window.location.hash){
      var h = window.location.hash.replace(/^#/, '');
      if(h.slice(0,5) == 'view:'){
        setOutput(decodeURIComponent(escape(RawDeflate.inflate(atob(h.slice(5))))));
        document.body.className = 'view';
      }else{
        editor.setValue(
          decodeURIComponent(escape(
            RawDeflate.inflate(
              atob(
                h
              )
            )
          ))
        );
        update(editor);
        editor.focus();
      }
    }else{
      update(editor);
      editor.focus();
    }


</script>

<script type="text/javascript">
$(document).ready(function() {

    function wikiJson()
    {
        var now = new Date();
        var m = now.getMonth();
        var d = now.getDate();
        var y = now.getFullYear();
        var h = now.getHours();
        var i = now.getMinutes();
        var month = new Array();
        month[0] = "Jan";
        month[1] = "Feb";
        month[2] = "Mar";
        month[3] = "Apr";
        month[4] = "May";
        month[5] = "Jun";
        month[6] = "Jul";
        month[7] = "Aug";
        month[8] = "Sep";
        month[9] = "Oct";
        month[10] = "Nov";
        month[11] = "Dec";
        var val = editor.getValue();
        $.ajax({
            type: "POST",
            url: "/wiki/update/"+{{plugin.pluginId}},
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                'wikicontent': val,
                'wikiuser' : $("#user").val(),
                'wikipicture' : $("#picture").val(),
                'wikidate' : h+':'+i+'\n'+month[m]+' '+d+' '+y
            }),
        })
    }

    $("#setWiki").click(function(){
        wikiJson();
    });
});
</script>
<script type="text/javascript">
    var s = $("#mkdwn").html();
        s = "\n\n\n" + s + "\n\n\n";
    var rend = markdown.toHTML(s);
    $("#mkdwn").html(rend);
</script>
<script type="text/javascript">
    /*
    * Replace all SVG images with inline SVG
    */
    jQuery('img.svg').each(function(){
    var $img = jQuery(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');

    jQuery.get(imgURL, function(data) {
        // Get the SVG tag, ignore the rest
        var $svg = jQuery(data).find('svg');

        // Add replaced image's ID to the new SVG
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        // Add replaced image's classes to the new SVG
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }

        // Remove any invalid XML tags as per http://validator.w3.org
        $svg = $svg.removeAttr('xmlns:a');

        // Check if the viewport is set, if the viewport is not set the SVG wont't scale.
        if(!$svg.attr('viewBox') && $svg.attr('height') && $svg.attr('width')) {
            $svg.attr('viewBox', '0 0 ' + $svg.attr('height') + ' ' + $svg.attr('width'))
        }

        // Replace image with new SVG
        $img.replaceWith($svg);

    }, 'xml');

    });
</script>
{% endblock %}
